p {
	font-family: 'Roboto Mono', monospace;
}

.il {
	padding-left: 3vw;
}

.ilil {
	padding-left: 6vw;
}

.ililil {
	padding-left: 9vw;
}

.ilililil {
	padding-left: 12vw;
}

.alert {
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.alert {
	margin-left: 3.5vw;
	margin-right: 27%;
	margin-bottom: 2vh;
	overflow: hidden;
}

.btn {
	border-radius: 0.5em;
	height: 2em;
	width: 15em;
	background-color: white;
	border: black 1px solid;
}

.btn:hover {
	background-color: black;
	color: white;
}

.textarea {
	height: 90vh;
	width: 90%;
}

.green {
	color: green;
}

.red {
	color: red;
}